<div class="row">
	
	<div class="span6">
		<h2>Specialties</h2>

		<p>Writing stable, enterprise class, bug free software and data driven web applications using Ruby on Rails, .NET, Java, and various open source libraries. </p>
	</div>
	
	<div class="span6">
		<h2>More Info</h2>

		<p>Please <%= link_to "contact me", contact_path %> with any questions. For a complete list of my work experience and references, please see my <%= link_to "LinkedIn", "http://www.linkedin.com/pub/jeff-barriault/46/7/97", :target => "_blank" %> profile. You can also view some of my projects/source code on <%= link_to "GitHub", "https://github.com/barriault", :target => "_blank" %>.</p>
	</div>
		
</div>

<div class="hero-unit">
<pre class="prettyprint linenums">
<code class="language-rb">class JeffBarriault &lt; ProgrammerAnalyst
  acts_as_consultant { :experience => "Nearly 30 years!" }

  def methodologies
    [ "OOP", "DDD", "TDD", "Design Patterns", "WCF", "SOAP", "REST", "AJAX" ]
  end

  def operating_systems
    [ "Apple OS X", "Microsoft Windows", "Linux" ]
  end

  def programming_languages
    [ "Ruby", "C#.NET", "Java", "JavaScript" ]
  end

  def development_environments
    [ "TextMate". "Xcode", "Visual Studio", "Eclipse" ]
  end

  def web_frameworks_and_libraries
    [ "Ruby on Rails", "jQuery", "ASP.NET MVC", "S#arp Architecture", "Hibernate/NHibernate" ]
  end

  def databases
    [ "Oracle", "Microsoft SQL Server", "PostgreSQL", "MySQL", "SQLite", "MS Access" ]
  end

  def source_control
    [ "Git", "SVN", "Microsoft Team Foundation" ]
  end
end</code></pre>
</div>