<footer>
	<hr />
	<p>
		
		<span style="display:inline-block; vertical-align:middle">
		<%= link_to image_tag("facebook_32.png"), "http://www.facebook.com/100000080021994", :target => "_blank" %>
		<%= link_to image_tag("linkedin_32.png"), "http://www.linkedin.com/pub/jeff-barriault/46/7/97", :target => "_blank" %>
		<%= link_to image_tag("twitter_32.png"), "https://twitter.com/JeffBarriault", :target => "_blank" %>
		<%= link_to image_tag("github_32.png"), "https://github.com/barriault", :target => "_blank" %>
		</span>
		&copy; 2012 - Jeff Barriault
	</p>
</footer>
