<div class="hero-unit">
	<address>
		<strong>Jeff Barriault</strong><br>
		Bayou Vista, TX<br>
		Mobile: (281) 797-7667
	</address>

	<address>
		<%= mail_to "jeff@barriault.net", "Email me . . .", :encode => "javascript" %>
	</address>
</div>